@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');

/* Define custom variables in :root */
:root {
  --font-hero: 'Libertinus Math', sans-serif;

  --color-primary: #c56900;
  --color-primary-100: #f9ede4;
  --color-primary-200: #f9d0ac;
  --color-primary-300: #f2b279;
  --color-primary-400: #ef913c;
  --color-primary-500: #e27e1a;
  --color-primary-600: #c1620c;
  --color-primary-700: #964b08;
  --color-primary-800: #562a03;
  --color-primary-900: #190c00;

  --color-secondary: #3f0023;
  --color-secondary-100: #f9d7ed;
  --color-secondary-200: #f9a5db;
  --color-secondary-300: #f46cc3;
  --color-secondary-400: #e83dab;
  --color-secondary-500: #dd2292;
  --color-secondary-600: #c41485;
  --color-secondary-700: #a00b6b;
  --color-secondary-800: #77044e;
  --color-secondary-900-brand: #3f0023;

  --color-primary-dark: #603101;

  --color-neutral-100: #e2e1e0;
  --color-neutral-200: #afacaa;
  --color-neutral-300: #77726f;
  --color-neutral-400: #544d48;
  --color-neutral-500: #423a33;
  --color-neutral-600: #2d251f;
  --color-neutral-700: #211913;
  --color-neutral-800: #110b06;
  --color-neutral-900: #070401;

  --color-footer-bg: #1a1a1a;
  --color-footer-text: #cccccc;
  --color-footer-highlight: #facc15;
}
